@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --menu-height: 115px;
    --color-primary: 255 255 255;
    --color-text: 0 0 0;
    --background-color-opacity: 6%;
  }

  :root.dark {
    --color-primary: 0 0 0;
    --color-text: 255 255 255;
    --background-color-opacity: 10%;
  }
}

@screen xs {
  :root {
    --menu-height: 147px;
  }
}

@screen lg {
  :root {
    --menu-height: 80px;
  }
}

@screen xl {
  :root {
    --menu-height: 88px;
  }
}

html {
  overflow: auto;
  scroll-padding-top: var(--menu-height);
  padding-top: var(--menu-height);
}
