@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color-opacity: 6%;
    --color-primary: 255 255 255;
    --color-secondary: 0 0 0;
    --color-tertiary: 250 252 253;
    --color-quaternary: 255 63 52;
    --menu-height: 107px;
  }

  :root.dark {
    --background-color-opacity: 10%;
    --color-primary: 0 0 0;
    --color-secondary: 255 255 255;
    --color-tertiary: 11 14 12;
  }
}

@screen xs {
  :root {
    --menu-height: 135px;
  }
}

@screen lg {
  :root {
    --menu-height: 80px;
  }
}

@screen xl {
  :root {
    --menu-height: 88px;
  }
}

html {
  overflow: auto;
  scroll-padding-top: var(--menu-height);
  padding-top: var(--menu-height);
}
