.menu {
  background-color: white;
  background-image: url('/images/background_blue-orange_light_flipped.webp');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;

  a {
    font-weight: 500;
  }
}
