.button {
  height: 38px;
  margin-left: 2px !important;
  width: 36px;
}

.sun {
  height: 20px;
  width: 20px;
}

.moon {
  height: 17px;
  width: 17px;
}

@keyframes rotate-sun {
  0% {
    opacity: 0.25;
    transform: rotate(0);
  }

  100% {
    opacity: 1;
    transform: rotate(90deg);
  }
}

.rotateSun {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: rotate-sun;
  animation-timing-function: cubic-bezier(0.695, 0, 0.065, 0.995);
  transform-box: fill-box;
  transform-origin: center center;
}

@keyframes flicker-stars {
  0% {
    opacity: 0.25;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flickerStars {
  & path:last-of-type {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: flicker-stars;
    animation-timing-function: cubic-bezier(0.695, 0, 0.065, 0.995);
    transform-box: fill-box;
    transform-origin: center center;
  }
}

@screen xs {
  .button {
    height: 48px;
    width: 40px;
  }

  .sun {
    height: 23px;
    width: 23px;
  }

  .moon {
    height: 20px;
    width: 20px;
  }
}
