@import "mixins";

@mixin animation {
  @include transition-transform-with-ease;

  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes logo-hover {
  0% {
    transform: translateX(0) scale(1);
  }

  35% {
    transform: translateX(-4px) scale(0.95);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes letter {
  0% {
    transform: translateY(0) scale(1) rotate(0);
  }

  25% {
    transform: translateY(-50px) scale(0.8) rotate(-1deg);
  }

  50% {
    transform: translateY(-100px) scale(1.1) rotate(-2deg);
  }

  75% {
    transform: translateY(-50px) scale(1) rotate(-1deg);
  }

  100% {
    transform: translateY(0) scale(1) rotate(0);
  }
}

@keyframes dash {
  0% {
    opacity: 0.125;
    transform: translateY(0) scaleX(1);
  }

  25% {
    opacity: 0.125;
    transform: translateY(-20px) scaleX(0.9);
  }

  50% {
    opacity: 1;
    transform: translateY(-40px) scaleX(1.0625);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleX(1);
  }
}

@keyframes dash-reverse {
  0% {
    opacity: 1;
    transform: translateY(0) scaleX(1);
  }

  25% {
    opacity: 1;
    transform: translateY(-20px) scaleX(1.125);
  }

  50% {
    opacity: 0.125;
    transform: translateY(-10px) scaleX(0.8);
  }

  100% {
    opacity: 0.125;
    transform: translateY(0) scaleX(1);
  }
}

.logo {
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  overflow: visible;

  &:hover,
  &:focus {
    animation-name: logo-hover;

    .letterD {
      @include animation;

      animation-name: letter;
    }

    .letterA {
      @include animation;

      animation-delay: 0.04s;
      animation-name: letter;
    }

    .letterV {
      @include animation;

      animation-delay: 0.08s;
      animation-name: letter;
    }

    .letterE {
      @include animation;

      animation-delay: 0.12s;
      animation-name: letter;
    }

    .exclamation {
      @include animation;

      animation-delay: 0.18s;
      animation-name: letter;
    }
  }
}

.dashOneInactive {
  @include animation;

  animation-delay: 0.18s;
  animation-fill-mode: forwards;
  animation-name: dash-reverse;
}

.dashTwoInactive {
  @include animation;

  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  animation-name: dash-reverse;
}

.dashOneActive {
  @include animation;

  animation-fill-mode: forwards;
  animation-name: dash;
  opacity: 0.125;
}

.dashTwoActive {
  @include animation;

  animation-delay: 100ms;
  animation-fill-mode: forwards;
  animation-name: dash;
  opacity: 0.125;
}
