.button {
  background-color: white;
  border-color: black !important;
  box-shadow: 1px 1px 0 0 black !important;
  position: relative;
  transition: all 100ms ease-out;
  z-index: 1;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 0 0 black !important;
    transform: translateX(-1px) translateY(-1px);
  }
}

@screen md {
  .button {
    &:hover,
    &:focus {
      box-shadow: 3px 3px 0 0 black !important;
      transform: translateX(-2px) translateY(-2px);
    }
  }
}
