#logos {
  opacity: 0.25;
}

.logo_capgemini {
  position: relative;
  top: 0.25rem;
  width: 160px;
}

.logo_noten {
  width: 120px;
}

.logo_schiphol {
  position: relative;
  top: 0.125rem;
  width: 130px;
}

.logo_orange_tribes,
.logo_reisreport {
  width: 60px;
}

.logo_vteam {
  width: 60px;
}

@media (max-width: 768px) {
  #logos a {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  #logos a img,
  #logos a svg {
    margin: 0 auto;
  }

  .logo_orange_tribes {
    width: 30%;
  }

  .logo_capgemini {
    width: 70%;
  }

  .logo_noten {
    width: 45%;
  }

  .logo_schiphol {
    width: 50%;
  }

  .logo_reisreport {
    width: 30%;
  }

  .logo_vteam {
    width: 30%;
  }
}
