.logo_capgemini {
  position: relative;
  top: 0.25rem;
  width: 160px;
}

.logo_noten {
  width: 120px;
}

.logo_schiphol {
  position: relative;
  top: 0.125rem;
  width: 130px;
}

.logo_reisreport,
.logo_orange_tribes {
  width: 60px;
}

.logo_euroclear {
  width: 70px;
}

@media (max-width: 768px) {
  #logos a {
    width: 33.33%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  #logos a img,
  #logos a svg {
    margin: 0 auto;
  }

  .logo_capgemini {
    width: 70%;
    padding-bottom: 0.8rem;
  }

  .logo_noten {
    width: 50%;
    padding-bottom: 0.8rem;
  }

  .logo_schiphol {
    width: 60%;
  }

  .logo_reisreport,
  .logo_orange_tribes {
    width: 30%;
  }

  .logo_euroclear {
    width: 38%;
  }
}

@media (max-width: 568px) {
  #logos a {
    width: 50%;
  }
}
