.hero {
  min-height: calc(100vh - var(--menu-height));
  padding-bottom: calc(6rem + 120px);
  position: relative;
}

.heroImage {
  height: 346px;
  width: 328px;
}

@mixin fast-animation {
  animation: fast;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.605, 0.005, 0, 1.065);
  display: inline-block;
  transform-origin: center bottom;
}

@keyframes fast {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px) scaleY(0.7);
  }

  50% {
    transform: translateY(-10px) scale(1.12);
  }

  100% {
    transform: translateY(0);
  }
}

.fast {
  display: inline-block;
}

.fast1 {
  @include fast-animation;

  animation-delay: 250ms;
}

.fast2 {
  @include fast-animation;

  animation-delay: 300ms;
}

.fast3 {
  @include fast-animation;

  animation-delay: 350ms;
}

.fast4 {
  @include fast-animation;

  animation-delay: 400ms;
}

.fast5 {
  @include fast-animation;

  animation-delay: 450ms;
}

.fast6 {
  @include fast-animation;

  animation-delay: 500ms;
}

@screen xl {
  .heroImage {
    height: 506px;
    width: 475px;
  }
}
