@import "mixins";
@import "colors";

@mixin bottom-dash {
  @include transition-transform-with-ease;

  bottom: 4px;
  height: 2px;
  opacity: 0.2;
  text-align: center;
  transform-origin: center;
  width: 30px;
  will-change: auto;

  @screen xs {
    bottom: 0;
    height: 6px;
  }
}

.link {
  display: block;
  transition-duration: 250ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.695, 0, 0.065, 0.995);

  &:nth-child(1) {
    transform-origin: center right;

    & svg {
      @include bottom-dash;

      transform: rotate(0deg) scale(0) translateY(-7px);
    }

    &:hover,
    &:focus {
      transform: translateY(-3px) rotate(2deg);
    }

    &:hover svg,
    &:focus svg {
      transform: rotate(-1deg) scale(1) translateY(0);
    }
  }

  &:nth-child(2) {
    transform-origin: center left;

    & svg {
      @include bottom-dash;

      transform: rotate(0deg) scale(0) translateY(-7px);
    }

    &:hover,
    &:focus {
      transform: translateY(-3px) rotate(-2deg);
    }

    &:hover svg,
    &:focus svg {
      transform: rotate(2deg) scale(1) translateY(0);
    }
  }

  &:nth-child(3) {
    transform-origin: center right;

    & svg {
      @include bottom-dash;

      transform: rotate(0deg) scale(0) translateY(-7px);
    }

    &:hover,
    &:focus {
      transform: translateY(-3px) rotate(2deg);
    }

    &:hover svg,
    &:focus svg {
      transform: rotate(-1deg) scale(1) translateY(0);
    }
  }

  &:nth-child(4) {
    transform-origin: center left;

    & svg {
      @include bottom-dash;

      transform: rotate(0deg) scale(0) translateY(-7px);
    }

    &:hover,
    &:focus {
      transform: translateY(-3px) rotate(-2deg);
    }

    &:hover svg,
    &:focus svg {
      transform: rotate(1deg) scale(1) translateY(0);
    }
  }
}

.active {
  &:nth-child(1) {
    transform: translateY(-3px) rotate(2deg);

    svg {
      opacity: 1;
      transform: rotate(-1deg) scale(1) translateY(0);
      transition-duration: 250ms;
      transition-property: opacity, transform;
      transition-timing-function: cubic-bezier(0.695, 0, 0.065, 0.995);
    }
  }

  &:nth-child(2) {
    transform: translateY(-3px) rotate(-2deg);

    svg {
      opacity: 1;
      transform: rotate(2deg) scale(1) translateY(0);
      transition-duration: 250ms;
      transition-property: opacity, transform;
      transition-timing-function: cubic-bezier(0.695, 0, 0.065, 0.995);
    }
  }

  &:nth-child(3) {
    transform: translateY(-3px) rotate(2deg);

    svg {
      opacity: 1;
      transform: rotate(-1deg) scale(1) translateY(0);
      transition-duration: 250ms;
      transition-property: opacity, transform;
      transition-timing-function: cubic-bezier(0.695, 0, 0.065, 0.995);
    }
  }

  &:nth-child(4) {
    transform: translateY(-3px) rotate(-2deg);

    svg {
      opacity: 1;
      transform: rotate(1deg) scale(1) translateY(0);
      transition-duration: 250ms;
      transition-property: opacity, transform;
      transition-timing-function: cubic-bezier(0.695, 0, 0.065, 0.995);
    }
  }
}
